/*
 * the global style 
 */

/* the Body style */
body {
    color: #484848;
    font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* the Block horizontal scrolling */
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
  
  /* the Container style */
  .container {
    margin: 30px auto;
    max-width: 1000px;
  }
  
  /* the Strong style */
  strong {
    font-weight: bold;
  }
